In [ ]:
# Q1

A database is an organized collection of structured information, or data, typically stored electronically in a computer system.SQL

SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

In [ ]:
# Q2

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

CREATE :
This command is used to create a new table or database in SQL. The user has to give information like table name, column names, and their datatypes.

Example :

CREATE DATABASE Test1;
CREATE TABLE Test1.Info(Name VARCHAR(20) , Roll INT , Marks FLOAT);

ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Example :

ALTER TABLE Test1.Info ADD (CGPA FLOAT)

TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

Example :
    
TRUNCATE TABLE Test1.Info;

DROP :
This command is used to remove an existing table along with its structure from the Database.

Example :
    
DROP TABLE Test1.Info ;

In [ ]:
# Q3

The SQL commands that deal with the manipulation of data present in the database belong to DML or Data Manipulation Language

INSERT: It is used to insert data into a table.

Example :

CREATE TABLE Test1.Info(Name VARCHAR(20) , Roll INT , Marks FLOAT);
INSERT INTO Test1.Info VALUES('Apurbs' , 92 , 95.5);
INSERT INTO Test1.Info VALUES('Sumit' , 93 , 85.5);
INSERT INTO Test1.Info VALUES('Aniket' , 94 , 75.5);

UPDATE: It is used to update existing data within a table.

Example :

UPDATE Test1.Info SET Name ='Apurba Maji';

DELETE: It is used to delete records from a database table.

Example:

DELETE FROM Test1.Info WHERE ROLL=93 ;

In [ ]:
# Q4

We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement.

SELECT: It is used to retrieve data from the database.

Example :

SELECT* FROM Info;

In [ ]:
# Q5

A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values.

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

In [ ]:
# Q6

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost" ,
    user="root",
    password="apurba@2002"
)
mycursor =mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test1")
mydb.close()

In [ ]:
# Q7

In an SQL query, the clauses are generally executed in the following order:

1) FROM: Specifies the tables or views from which the data will be retrieved.

2) WHERE: Filters the rows based on specified conditions.

3) GROUP BY: Groups the rows based on one or more columns.

4) HAVING: Filters the groups based on specified conditions.

5) SELECT: Retrieves the columns or expressions specified in the query.

6) DISTINCT: Eliminates duplicate rows from the result set.

7) ORDER BY: Sorts the result set based on specified columns or expressions.

8) LIMIT/OFFSET: Limits the number of rows returned or skips a certain number of rows.