In [ ]:
# Q1

MongoDB is a non-relational document database that provides support for JSON-like storage. The MongoDB database has a flexible data model that enables you to store unstructured data.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. 

SQL databases are used to store structured data while NoSQL databases like MongoDB are used to save unstructured data. MongoDB is used to save unstructured data in JSON format. MongoDB does not support advanced analytics and joins like SQL databases support. NoSQL is good when it's more important that the availability of big data is fast.

In [ ]:
# Q2

These are some important features of MongoDB:

1. Support ad hoc queries :
In MongoDB, you can search by field, range query and it also supports regular expression searches.

2. Indexing :
You can index any field in a document.

3. Replication :
MongoDB supports Master Slave replication.
A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

4. Duplication of data :
MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

5. Load balancing :
It has an automatic load balancing configuration because of data placed in shards.

6. Supports map reduce and aggregation tools.

7. It is a schema-less database written in C++.

8. Provides high performance.

In [ ]:
# Q3

In [ ]:
pip install pymongo

In [33]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://apurbamaji3013:apurba123@cluster0.9qwzsya.mongodb.net/?retryWrites=true&w=majority")
db = client.test

db = client['Database1']
my_db1 = db["Record1"]

In [34]:
data1 = [{
   "location": {
      "type": "Point",
      "coordinates": [-73.856077, 40.848447]
   },
   "name": "Morris Park Bake Shop"
}]
my_db1.insert_many(data1)

In [ ]:
# Q4

In [35]:
data2 = {"Name" : "Apurba Maji" ,
          "Course" : "Data-Science" ,
          "Age" :20 ,
          "sex" : "Male" ,
          "skills" : ["C/C++" , "Html" , "CSS" , "Java-script" , "Python"] 
         }
my_db1.insert_one(data2)

In [36]:
data3 = [
{
"account_id": 794875,
"transaction_count": 6,
"bucket_start_date": {"$date": 693792000000},
"bucket_end_date": {"$date": 1473120000000},
"transactions": [
   {
      "date": {"$date": 1325030400000},
      "amount": 1197,
      "transaction_code": "buy",
      "symbol": "nvda",
      "price": "12.7330024299341033611199236474931240081787109375",
      "total": "15241.40390863112172326054861"
   },
   {
      "date": {"$date": 1465776000000},
      "amount": 8797,
      "transaction_code": "buy",
      "symbol": "nvda",
      "price": "46.53873172406391489630550495348870754241943359375",
      "total": "409401.2229765902593427995271"
   },
   {
      "date": {"$date": 1472601600000},
      "amount": 6146,
      "transaction_code": "sell",
      "symbol": "ebay",
      "price": "32.11600884852845894101847079582512378692626953125",
      "total": "197384.9903830559086514995215"
   },
   {
      "date": {"$date": 1101081600000},
      "amount": 253,
      "transaction_code": "buy",
      "symbol": "amzn",
      "price": "37.77441226157566944721111212857067584991455078125",
      "total": "9556.926302178644370144411369"
   },
   {
      "date": {"$date": 1022112000000},
      "amount": 4521,
      "transaction_code": "buy",
      "symbol": "nvda",
      "price": "10.763069758141103449133879621513187885284423828125",
      "total": "48659.83837655592869353426977"
   },
   {
      "date": {"$date": 936144000000},
      "amount": 955,
      "transaction_code": "buy",
      "symbol": "csco",
      "price": "27.992136535152877030441231909207999706268310546875",
      "total": "26732.49039107099756407137647"
   }
]
}]

my_db1.insert_many(data3)

In [7]:
my_db1.find_one()

{'_id': ObjectId('64ac32b2ef91fd5a7f817c7c'),
 'location': {'type': 'Point', 'coordinates': [-73.856077, 40.848447]},
 'name': 'Morris Park Bake Shop'}

In [8]:
for i in my_db1.find():
    print(i)

{'_id': ObjectId('64ac32b2ef91fd5a7f817c7c'), 'location': {'type': 'Point', 'coordinates': [-73.856077, 40.848447]}, 'name': 'Morris Park Bake Shop'}
{'_id': ObjectId('64ac3585ef91fd5a7f817c7e'), 'Name': 'Apurba Maji', 'Course': 'Data-Science', 'Age': 20, 'sex': 'Male', 'skills': ['C/C++', 'Html', 'CSS', 'Java-script', 'Python']}
{'_id': ObjectId('64ac3607ef91fd5a7f817c7f'), 'account_id': 794875, 'transaction_count': 6, 'bucket_start_date': {'$date': 693792000000}, 'bucket_end_date': {'$date': 1473120000000}, 'transactions': [{'date': {'$date': 1325030400000}, 'amount': 1197, 'transaction_code': 'buy', 'symbol': 'nvda', 'price': '12.7330024299341033611199236474931240081787109375', 'total': '15241.40390863112172326054861'}, {'date': {'$date': 1465776000000}, 'amount': 8797, 'transaction_code': 'buy', 'symbol': 'nvda', 'price': '46.53873172406391489630550495348870754241943359375', 'total': '409401.2229765902593427995271'}, {'date': {'$date': 1472601600000}, 'amount': 6146, 'transaction_code': 'sell', 'symbol': 'ebay', 'price': '32.11600884852845894101847079582512378692626953125', 'total': '197384.9903830559086514995215'}, {'date': {'$date': 1101081600000}, 'amount': 253, 'transaction_code': 'buy', 'symbol': 'amzn', 'price': '37.77441226157566944721111212857067584991455078125', 'total': '9556.926302178644370144411369'}, {'date': {'$date': 1022112000000}, 'amount': 4521, 'transaction_code': 'buy', 'symbol': 'nvda', 'price': '10.763069758141103449133879621513187885284423828125', 'total': '48659.83837655592869353426977'}, {'date': {'$date': 936144000000}, 'amount': 955, 'transaction_code': 'buy', 'symbol': 'csco', 'price': '27.992136535152877030441231909207999706268310546875', 'total': '26732.49039107099756407137647'}]}

In [ ]:
# Q5

In [9]:
for i in (my_db1.find({'Name': 'Apurba Maji'})):
    print(i)

{'_id': ObjectId('64ac3585ef91fd5a7f817c7e'), 'Name': 'Apurba Maji', 'Course': 'Data-Science', 'Age': 20, 'sex': 'Male', 'skills': ['C/C++', 'Html', 'CSS', 'Java-script', 'Python']}

In [ ]:
# Q6

The sort() method specifies the order in which the query returns the matching documents from the given collection.It takes a document as a parameter that contains a field : value pair that defines the sort order of the result set. The value is 1 or -1 specifying an ascending or descending sort respectively.

In [38]:
# Example :
my_db2 = db['record2']

In [37]:
data4 = [
{ "_id" : 2, "item" : { "category" : "cookies", "type" : "chocolate chip" }, "amount" : 50 },
{ "_id" : 4, "item" : { "category" : "cake", "type" : "lemon" }, "amount" : 30 },
{ "_id" : 5, "item" : { "category" : "cake", "type" : "carrot" }, "amount" : 20 },
{ "_id" : 3, "item" : { "category" : "cookies", "type" : "chocolate chip" }, "amount" : 15 },
{ "_id" : 1, "item" : { "category" : "cake", "type" : "chiffon" }, "amount" : 10 },
{ "_id" : 6, "item" : { "category" : "brownies", "type" : "blondie" }, "amount" : 10 }]

my_db2.insert_many(data4)

In [ ]:
db.my_db2.find().sort({amount : 1})

In [ ]:
# Q7

delete_one() :

In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted.

In [13]:
# Example :

my_db2.delete_one({'amount' : 10})

Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

In [25]:
# Eample :

quary = {"amount" :{"$lt":20}}
my_db2.delete_many(quary)

In MongoDB, drop() method is used to drop a collection from a database. It completely removes a collection from the database and does not leave any indexes associated with the dropped collections.

In [39]:
# Example :

my_db1.drop()
my_db2.drop()